<header class="header" role=banner>
  <div class="hamburger">
    <!-- <i class="material-icons hamburger__icon" *ngIf="isClosed">menu</i> -->
    <!-- <i class="material-icons hamburger__icon" *ngIf="!isClosed">arrow_forward</i> -->
  </div>

  <!-- <div class="logo hidden-md hidden-lg"><img class="logo__img" src="..\assets\img\white-logo.png" alt="SMS Warriors"/></div> -->

  <div class="status-area">
    <div class="company">
      <a class="company__name">SMSW Admin Panel</a>
    </div>
  </div>
</header>