<div class="row">
    <h2>User Managment</h2>
</div>

<p-table #dt [columns]="cols" [value]="users" selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'FirstName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'LastName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'Email'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                <p-dropdown *ngSwitchCase="'RoleName'" [options]="roles" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                <p-dropdown *ngSwitchCase="'UserStatusName'" [options]="userStatus" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
            </th>
        </tr>
    </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
          <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
  </ng-template>

</p-table>

<p-dialog header="User Data" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="375">
  <div class="ui-g ui-fluid" *ngIf="user">
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="firstName">First Name</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="firstName" [(ngModel)]="user.FirstName" />
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="lastName">Last Name</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="lastName" [(ngModel)]="user.LastName" />
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="email">Email</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="email" [(ngModel)]="user.Email" />
        </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
          <label for="administrator">Role</label>
      </div>
      <div class="ui-g-8">
          <p-dropdown [options]="roles" [style]="{'width':'100%'}" [(ngModel)]="user.Administrator"></p-dropdown>
      </div>
    </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" label="Delete"></button>
          <button type="button" pButton icon="fa-check" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>
