<!-- <div class="active-user-profile__mid">
    <H2>User approval</H2>
    <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
</div> -->

<p-tabView>

  <p-tabPanel header="User info">
    <div class="active-user">
      <h1>Basic Info</h1>
      <div class="active-user-profile">Fisrt name:
        <span>{{user.FirstName}}</span>
      </div>
      <div class="active-user-profile">Lasy name:
        <span>{{user.LastName}}</span>
      </div>
      <div class="active-user-profile">Email:
        <span>{{user.Email}}</span>
      </div>
      <div class="active-user-profile">Mobile:
        <span>{{user.PhoneNumber}}</span>
      </div>
      <div class="active-user-profile">Skype ID:
        <span>{{user.SkypeID}}</span>
      </div>
      <div class="active-user-profile">Status:
        <span>....</span>
      </div>
      <div class="active-user-profile">Member Since:
        <span>....</span>
      </div>
      <div class="active-user-profile">Last Login IP:
        <span>....</span>
      </div>

      <div class="checkBox">
        <h5>Payment Settings:
          <span>Payment:</span>
          <input type="checkbox" aria-label="...">
        </h5>
        <h5>Single SMS Settings:
          <span>Single SMS:</span>
          <input type="checkbox" aria-label="...">
        </h5>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Routes">

    <!-- Button add new route -->
    <div class="container-fluid">
        <div class="container-fluid" style="border: 1px solid #ddd; padding-top: 15px; display: flex; justify-content: center;">
  
          <form [formGroup]="userRouteForm" (ngSubmit)="add()">
            <ul class="wrapper">
  
              <label>Country:
                <select formControlName="CountryID" [ngModel]="selectedItem">
                  <option *ngFor="let country of countries | async" [value]="country.CountryID">{{country.Nicename}} (+{{country.PhoneCode}})</option>
                </select>
              </label>
  
              <label>&nbsp;</label>
  
              <label>Connection:
                <select formControlName="SMSRouteID" [ngModel]="selectedItem">
                  <option *ngFor="let route of routes | async" [value]="route.SMSRouteID">{{route.SmscID}} {{route.ConnectionTypeShortName}}</option>
                </select>
              </label>
  
              <label>&nbsp;</label>
  
              <label>Rate:
                <input formControlName="Rate" type="number" step="0.00001" min="0" ngModel>
              </label>
  
              <label>
                <button class="btn btn-success" [disabled]="!userRouteForm.valid">
                  <i class="fa fa-floppy-o"></i> Add new route</button>
              </label>
  
            </ul>
          </form>
        </div>
      </div>
  

    <!--userRoutes-->
    <div class="container-fluid">
      <table class="user-routes">
        <thead>
          <tr>
            <th>Country</th>
            <th>Connection</th>
            <th>Route quality</th>
            <th>Rate</th>
            <th>Delete route</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userRoute of userRoutes | async">
            <td>{{userRoute.Nicename}} (+{{userRoute.PhoneCode}})</td>
            <td>{{userRoute.SmscID}}</td>
            <td><strong [ngClass]="getConnectionTypeClass(userRoute.ConnectionTypeShortName)">{{userRoute.ConnectionTypeShortName}}</strong></td>
            <td>{{userRoute.Rate}}</td>
            <td>
              <button type="button" title="Edit route" class="btn btn-primary" (click)="showEditModal(userRoute)">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" title="Delete route" class="btn btn-danger" (click)="delete(userRoute.SMSRouteUserID)">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </p-tabPanel>

  <p-tabPanel header="Sent SMS">
    <div class="active-user">
      <h1>Sent SMS</h1>
      <h5>More content soon</h5>
    </div>
  </p-tabPanel>

  <p-tabPanel header="SMS Stats">
    <div class="active-user">
      <h1>SMS Stats</h1>
      <h5>More content soon</h5>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Credit/Debit Account">
    <div class="active-user">
      <h1>Credit/Debit Account</h1>
      <p-tabView>

        <p-tabPanel header="Credit card">
          <div class="active-user cardsView">
            <h1>Credit Info</h1>
            <div class="input-group cardsInfo">
              <p>Select Validity:</p>
              <input type="text" class="form-control" placeholder="Select Validity" aria-describedby="basic-addon1">
            </div>
            <div class="input-group cardsInfo">
              <p>Allot Credits:</p>
              <input type="text" class="form-control" placeholder="Allot Credits" aria-describedby="basic-addon1">
            </div>
            <div class="input-group cardsInfo">
              <p>Select Route:</p>
              <input type="text" class="form-control" placeholder="Select Route" aria-describedby="basic-addon1">
            </div>
            <button type="button" class="btn btn-success">Confirm</button>
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Debit card">
          <div class="active-user cardsView">
            <h1>Debit Info</h1>
            <div class="input-group cardsInfo">
              <p>Deduct Credits:</p>
              <input type="text" class="form-control" placeholder="Deduct Credits" aria-describedby="basic-addon1">
            </div>
            <div class="input-group cardsInfo">
              <p>Select Route:</p>
              <input type="text" class="form-control" placeholder="Select Route" aria-describedby="basic-addon1">
            </div>
            <button type="button" class="btn btn-success">Confirm</button>
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
        </p-tabPanel>

      </p-tabView>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Transaction History">
    <div class="active-user">
      <h1>Transaction History</h1>
      <h5>More content soon</h5>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Credit Log">
    <div class="active-user">
      <h1>Credit Log</h1>
      <h5>More content soon</h5>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Account Settings">
    <div class="active-user">
      <h1>Account Settings</h1>
      <h5>More content soon</h5>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Add-on Settings">
    <div class="active-user">
      <h1>Add-on Settings</h1>
      <h5>More content soon</h5>
    </div>
  </p-tabPanel>

  <p-tabPanel header="User Contacts">
    <div class="active-user">
      <h1>User Contacts</h1>
      <h5>More content soon</h5>
    </div>
  </p-tabPanel>

</p-tabView>


<!-- Modal add new/edit -->
<div id="myModal" class="modal" [ngClass]="{'show': showModal}" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Edit user route</h4>
      </div>

      <div class="modal-body">
        <!-- Form save route -->
        <div class="container-fluid">
          <form [formGroup]="editUserRouteForm" (ngSubmit)="edit()">

            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <div class="ui-g-4">
                  <label>Country:</label>
                </div>
                <div class="ui-g-8">
                  <select formControlName="CountryID" [ngModel]="selectedItem" style="width:100%">
                    <option *ngFor="let country of countries | async" [value]="country.CountryID">{{country.Nicename}} (+{{country.PhoneCode}})</option>
                  </select>
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-4">
                  <label>Connection:</label>
                </div>
                <div class="ui-g-8">
                  <select formControlName="SMSRouteID" [ngModel]="selectedItem" style="width:100%">
                    <option *ngFor="let route of routes | async" [value]="route.SMSRouteID">{{route.SmscID}} {{route.ConnectionTypeShortName}}</option>
                  </select>
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-4">
                  <label>Rate:</label>
                </div>
                <div class="ui-g-8">
                  <input formControlName="Rate" type="number" step="0.00001" ngModel style="width:100%">
                </div>
              </div>

              <div class="ui-g-12">
                <div class="ui-g-4">

                </div>
                <div class="ui-g-8" style="text-align: end">
                  <button class="btn btn-success" [disabled]="!editUserRouteForm.valid">
                    <i class="fa fa-floppy-o"></i> Save</button>
                </div>
              </div>
            </div>

          </form>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="showModal = false">Close</button>
      </div>

    </div>

  </div>
</div>