/************************** user-routes table************************/
.user-routes {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .user-routes td, .user-routes th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user-routes tr:nth-child(even){background-color: #f2f2f2;}
  
  .user-routes tr:hover {background-color: #ddd;}
  
  .user-routes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  