// -------------------------------------
// Base Configuration
// -------------------------------------



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

::selection          { color: #FFF; background-color: #3D3D3D; } // NORMAL
::-moz-selection     { color: #FFF; background-color: #3D3D3D; } // FIREFOX
::-webkit-selection  { color: #FFF; background-color: #3D3D3D; } // WEBKIT

html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow-y: scroll;
}

img {
  display: block;
  max-width: 100%;
}

a {
  outline: none;
  text-decoration: none;
}

//--- Webkit Hacks
html { -webkit-font-smoothing: antialiased; } // ugly Mac OS fonts rendering
input,
textarea,
select { box-sizing: inherit; } // user agent stylesheet default is box-sizing: border-box


//--- Webkit Custom input[type=search]
input[type="search"] { -webkit-appearance: textfield !important; }
input[type="search"]::-webkit-search-cancel-button { display: none; }
*:focus {
    outline: none;
}
