// ------------------------------------
// Helper classes
// ------------------------------------

.clearfix  {
  *zoom:1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

//--- Display
.hide         { display: none; }
.block        { display: block; }
.inline-block { display: inline-block; }
.flex         { display: flex; }

//--- Positions
.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }
.sticky   { position: sticky; }

//--- Alignment
.text-left    { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }

//--- Transform
.caps       { text-transform: uppercase; }
.lowcase    { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.italic     { font-style: italic; }
.oblique    { font-style: oblique; }
.bold       { font-weight: 700; }
.normal     { font-weight: 400; }

//--- Float
.fleft 	{ float: left; }
.fright { float: right; }
.fnone 	{ float: none; }

//--- Direction
.rtl { direction: rtl; }
.ltr { direction: ltr; }

//--- Backgrounds
.parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}
